@keyframes remove-border {
    0% {
        border-radius: 50%;
        border: rgb(146, 146, 146) 0.5px solid;
    }
    100% {
        border-radius: 5%;
        border: white 0px solid;
    }
}

@keyframes bring-border {
    0% {
        border-radius: 5%;
        border: white 0px solid;
    }
    100% {
        border-radius: 50%;
        border: rgb(146, 146, 146) 0.5px solid;
    }
}

#main {
    display: grid;
    grid-template: "tribute-title-dev" "tribute-img-div" "tribute-info-dev" "tribute-more-dev" / minmax(250px, 1fr);
    justify-items: center;
    background: rgb(225, 225, 225);
    border-radius: 8px;
    margin: 30px 5px;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#tribute-title-dev {
    grid-area: tribute-title-dev;
    text-align: center;
}

#title {
    font-size: 2.7em;
    margin: 12px 0px;
    color: rgb(45, 45, 45);
}

#subtitle {
    font-size: 1.12em;
    color: rgb(47, 47, 47);
}

#img-div {
    grid-area: tribute-img-div;
    border-radius: 8px;
    background: white;
    justify-self: stretch;
    padding: 1em;
    margin: 0;
    text-align: center;
}

#image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    animation-name: bring-border;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#image:hover {
    animation-name: remove-border;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#img-caption {
    margin-top: 10px;
    color: rgb(90, 90, 90);
}

#tribute-info {
    grid-area: tribute-info-dev;
    justify-items: center;
}

#tribute-info-header {
    margin: 50px auto;
    text-align: center;
    color: rgb(50, 50, 50);
}

#tribute-info-time-line {
    max-width: 620px;
    min-width: 250px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: left;
    font-weight: 500;
    font-size: 1.15em;
}

#tribute-info-time-line li {
    margin-bottom: 20px;
    color: rgb(55, 55, 55);
}

.quotation {
    margin: 50px auto 30px auto;
}

.quotation-text {
    text-align: justify;
    color: rgb(60, 60, 60);
}

.quotation-author {
    color: rgb(70, 70, 70);
}

#tribute-more-dev {
    font-size: 1.1em;
    color: rgb(53, 53, 53);
}

a {
    font-size: 1em;
    color: #305879;
    text-decoration: none;
}

a:visited {
    color: #4077a3;
    text-decoration: none;
}

a:hover {
    color: #52aaf3;
    text-decoration: underline;
}